<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anchor Real Estate Group</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/apply">Application</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logreg"><span class="glyphicon glyphicon-log-in"></span> Login/Register</a></li>
        </ul>
      </div>
    </div>
  </nav>
  {% with messages = get_flashed_messages() %}     
    {% if messages %}                            
      {% for message in messages %}            
        <p>{{message}}</p>                   
      {% endfor %}
    {% endif %}
  {% endwith %}
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Anchor Real Estate Group</h1>      
      <p>Let Us Help!</p>
    </div> 
  </div>
  
    <div class="container-fluid bg-3 text-center">
      <h2>Contact Us</h2>
      <p>Look out for our open houses,or leave us a message:</p>
      <form action="/submit_contact" method="POST">
        <div class="form-group">
          <label for="fname">First Name</label><br>
          <input type="text" id="fname" name="fname" placeholder="Your name.."><br>
          <label for="lname">Last Name</label><br>
          <input type="text" id="lname" name="lname" placeholder="Your last name.."><br>
          <label for="email">Email</label><br>
          <input type="email" id="email" name="email" placeholder="Your Email.."><br>
          <label for="message">Message</label><br>
          <textarea id="message" name="message" placeholder="Write your message here.." cols="30" rows="10"></textarea><br>
          <input type="submit" class="btn btn-primary" value="Submit"> 
        </div>
      </form>
    </div>

    <br/>

  <footer class="container-fluid text-center">
    <p>Call 888-888-8888 to book your property tour</p>
  </footer>
  
</body>
</html>