<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anchor Real Estate Group</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
  
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/apply">Application</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logreg"><span class="glyphicon glyphicon-log-in"></span> Login/Register</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {% with messages = get_flashed_messages() %}     
    {% if messages %}                            
      {% for message in messages %}            
        <p>{{message}}</p>                   
      {% endfor %}
    {% endif %}
  {% endwith %}
  
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Anchor Real Estate Group</h1>      
      <p>Let Us Help Anchor Your New Home</p>
    </div>
  </div>
  
  <h3 class='text-center'>Available Rental Properties</h3>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
  
    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img src="static/image/ranch.jpg" alt="picture of ranch">
      </div>
  
      <div class="item">
        <img src="static/image/cottage.jpg" alt="picture of cottage">
      </div>
  
      <div class="item">
        <img src="static/image/frame.jpg" alt="picture of A frame">
      </div>
    </div>
  
    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
  
  <br>
  
  <br>

  <footer class="container-fluid text-center">
    <p>Call 888-888-8888 to book your property tour</p>
  </footer>

</body>
</html>
