<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anchor Real Estate Group</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
</head>
<body>
  {% with messages = get_flashed_messages() %}     
    {% if messages %}                            
      {% for message in messages %}            
        <p>{{message}}</p>                   
      {% endfor %}
    {% endif %}
  {% endwith %}

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/">Home</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>
      </div>
    </div>
  </nav>

  <div class="jumbotron text-center">
    <form action="/login" method="POST">
      <h3>Tenant Login</h3>
      <p>Email: <input type="email" name="email" required></p>
      <p>Password: <input type="password" name="pword" required></p>
      <input class="btn btn-primary" type="submit" value="Login">
    </form> 
  </div>
  
  <div class="container-fluid bg-3 text-center">    
    <h3>Tenant Registration</h3>
    <form action="/register" method="POST">
        <p>First Name: <input type = text name="fname"></p>
        <p>Last Name: <input type = text name="lname"></p>
        <p>Email: <input type="email" name="email"></p>
        <p>Address <select name="address" id="address" >
          <option value="555ranchunit1">555 Ranch, Unit 1</option>
          <option value="123cottagelaneunit2">123 Cottage Lane, Unit 2</option>
          <option value="321frameunit3">321 A frame Unit 3</option>
        </select></p>
        <p>Password: <input type="password" name="pword"></p>
        <p>Confirm Password: <input type="password" name="cpword"></p>
        <input class="btn btn-primary" type="submit" value="Register">
    </form>
  </div>
  
  <br>

  <footer class="container-fluid text-center">
    <p>Call 888-888-8888 to book your property tour</p>
  </footer>

</body>
</html>