<!DOCTYPE html>
<html lang="en">
<head>
  <title>Anchor Real Estate Group</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */ 
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #f2f2f2;
      padding: 25px;
    }
  </style>
<body>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>                        
        </button>
      </div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li class="active"><a href="/welcome">Home</a></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/logout"><span class="glyphicon glyphicon-log-in"></span> Log Out</a></li>
        </ul>
      </div>
    </div>
  </nav>

  {% with messages = get_flashed_messages() %}     
    {% if messages %}                            
      {% for message in messages %}            
        <p>{{message}}</p>                   
      {% endfor %}
    {% endif %}
  {% endwith %}

  <div class="jumbotron">
    <div class="container text-center">
      <h1>Anchor Real Estate Group</h1>      
      <p>Tell us what maintenance needs to be done</p>
    </div>
  </div>
    
  <div class="container-fluid bg-3 text-center"> 
    <h2>Maintenance Issue</h2>   
    <form action="/submit_maintenance" method="POST">
      <div class="form-group">
        <label for="fname">First name:</label><br>
        <input type="text" id="fname" name="fname" value="First Name"><br>
        <label for="lname">Last name:</label><br>
        <input type="text" id="lname" name="lname" value="Last Name"><br>
        <label for="phone">Phone #:</label><br>
        <input type="text" id="phone" name="phone" value="Phone #"><br>
        <label for="message"> Maintenance Issue(s):</label><br>
        <textarea name="message" id="message" cols="30" rows="10">Description of maintenance issue</textarea>
        <p>Address <select name="address" id="address" >
          <option value="555ranchunit1">555 Ranch, Unit 1</option>
          <option value="123cottagelaneunit2">123 Cottage Lane, Unit 2</option>
          <option value="321frameunit3">321 A frame Unit 3</option>
        </select></p>
        <br>
        <input type="submit" value="Submit" class="btn btn-primary">
      </div>
    </form> 
    <br/>
    <form action="/cancel">
      <input type="submit" class="btn btn-primary" value="Cancel">
  </form>
  </div>
</body>
</html>